table {
  width: 100%;
  max-width: 60rem;
}

th, td {
  height: 6rem;
  text-align: center;
}

th {
  border-top: 0.1rem #e1e1e1 solid;
  border-left: 0.1rem #e1e1e1 solid;
}

.comum {
  cursor: pointer;
}

.comum.marcado {
  background-color: #e1e1e1;
}

td {
  position: relative;
  vertical-align: middle;
  border-left: 0.1rem #e1e1e1 solid;
}

td:last-child, th:last-child {
  border-right: 0.1rem #e1e1e1 solid;
  padding-right: 1.5rem;
}

td:first-child, th:first-child {
  padding-left: 1.5rem;
}

td img {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 4rem;
}
