body {
  height: 100vh;
}

span.button {
  cursor: default;
}

.numeros {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 1rem;
  font-size: 2rem;

  div {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0 2rem 1rem 0;
    background: lightgray;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;

    &:first-of-type {
      width: 6rem;
      height: 6rem;
      line-height: 6rem;
      font-weight: bold;
    }
  }
}

.grid {
  max-width: 40rem;
  margin-left: 0;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border: solid black;
  border-width: 0 0 1px 1px;

  div {
    position: relative;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    border: solid black;
    border-width: 1px 1px 0 0;

    font-size: 2rem;

    img {
      height: 6rem;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.marcado {
      font-weight: bold;
    }

    &.vermelho {
      color: #a00;
      &.marcado {
        background-color: #fdd;
      }
    }

    &.verde {
      color: #0a0;
      &.marcado {
        background-color: #dfd;
      }
    }

    &.azul {
      color: #00a;
      &.marcado {
        background-color: #ddf;
      }
    }

    &.amarelo {
      color: #aa0;
      &.marcado {
        background-color: #ffd;
      }
    }

    &.roxo {
      color: #a0a;
      &.marcado {
        background-color: #fdf;
      }
    }

    &.numero {
      cursor: pointer;
    }
  }
}
