@import './Roboto.scss';
@import 'normalize.css/';
@import 'milligram';

[x-cloak] {
  display: none !important;
}

p {
  max-width: 600px;
}

.header {
  background: aliceblue;
  padding-top: 2rem;
  margin-bottom: 3rem;

  div {
    img {
      float: left;
      margin-right: 1rem;
      height: 8rem;
      vertical-align: top;
      padding-bottom: 2rem;
    }
  }

  h1 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 2.8rem;
  }

  .div {
    h1 {
      margin-bottom: 0;
    }

    vertical-align: bottom;
    margin-bottom: 2rem;
    display: inline-block;
  }

  button {
    @media (min-width: 40rem) {
      float: right;
    }
  }
}

dialog {
  &::backdrop {
    backdrop-filter: blur(5px);
  }

  form {
    margin-bottom: 0;
  }
}

.firebase-emulator-warning {
  display: none;
}
