@import './Roboto.scss';
@import 'normalize.css/';
@import 'milligram';

[x-cloak] {
  display: none !important;
}

.header {
  background: aliceblue;
  padding-top: 2rem;
  margin-bottom: 3rem;

  div {
    img {
      margin-right: 1rem;
      display: inline-block;
      height: 11.04rem;
      border-radius: 1rem;
      vertical-align: top;
      margin-bottom: 2rem;
    }
  }

  h1 {
    display: inline-block;
  }

  .div {
    h1 {
      margin-bottom: 0;
    }

    vertical-align: bottom;
    margin-bottom: 2rem;
    display: inline-block;
  }

  details {
    @media (min-width: 40rem) {
      text-align: right;
    }
  }
}

.clicavel {
  cursor: pointer;
}

dialog {
  &::backdrop {
    backdrop-filter: blur(5px);
  }

  form {
    margin-bottom: 0;
  }
}

.firebase-emulator-warning {
  display: none;
}
